<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stopwatch</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Welcome to Stopwatch</h1>

    <div id="timer">00:00</div>

    <label>Enter time in seconds</label>

    <input type="number" id="seconds" placeholder="Example: 60" min="1">

    <button onclick="startTimer()">Start Timer</button>

    <h2 id="message"></h2>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
